extends layout

block content
    form(name="begin-session", method="post")
        div.input
            h1 Welcome! Please click below to begin
        div.actions
        button(onclick='./login') Begin
